.aboutPage {
  margin: 0 16%;
  z-index: 1;

  section {
    display: grid;
    gap: 54px;
  }
}

@media screen and (max-width: 1024px) {
  .aboutPage {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .aboutPage {
    width: 100%;
    margin: 100px 0 0 0;
  }
}
