footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 84%;

  #theme-switch {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--box-color);
    border: none;
    cursor: pointer;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 50px;

    a {
      text-decoration: none;
      color: #a5a5a5;
      font-family: var(--raleway-font);
      font-size: 19px;
    }
  }
}

.homeFooter {
  position: fixed;
  bottom: 30px;
}

.otherFooter {
  position: relative;
  padding: 60px 0 30px 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .homeFooter {
    position: relative;
    padding: 60px 0 30px 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
