.accueilPage {
  display: flex;
  gap: 54px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  margin-left: -8%;

  img {
    border-radius: 35px;
    width: 28em;
    aspect-ratio: 1;
  }

  div {
    display: grid;
    gap: 54px;
    max-width: 50%;

    .helloText {
      font-size: 45px;
      font-family: "Oswald", Arial, Helvetica, sans-serif;
      font-weight: 400;
    }
    .whoIAmText {
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 1.1px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .accueilPage {
    flex-wrap: wrap;
    position: relative;
    top: 0;
    transform: translateY(0%);
    margin-left: 0;

    img {
      border-radius: 35px;
      width: 100%;
      aspect-ratio: 1;
    }

    div {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .accueilPage {
    margin: 100px 0 0 0;
  }
}
