.projectsPage {
  display: grid;
  position: relative;
  justify-content: center;
  gap: 54px;

  article {
    display: flex;
    flex-direction: column; /* Arrange le contenu de l'article en colonne */
    justify-content: flex-start; /* Aligne le contenu interne en haut */
    .skills {
      display: flex;
      justify-content: space-between;

      div {
        display: grid;
        gap: 25px;

        .skill {
          display: flex;
          align-items: center;

          .progress {
            border: 2px solid;
            width: 150px;
            height: 20px;
            border-radius: 25px;
          }

          .html {
            border-color: #fc490b;
            div {
              width: 80%;
              height: 16px;
              border-radius: 25px;
              background-color: #fc490b;
            }
          }

          .css {
            border-color: #2196f3;
            div {
              width: 80%;
              height: 16px;
              border-radius: 25px;
              background-color: #2196f3;
            }
          }

          .js {
            border-color: #ffdf00;
            div {
              width: 55%;
              height: 16px;
              border-radius: 25px;
              background-color: #ffdf00;
            }
          }

          .sass {
            border-color: #cc6699;
            div {
              width: 80%;
              height: 16px;
              border-radius: 25px;
              background-color: #cc6699;
            }
          }

          .bootstrap {
            border-color: #5e3b7f;
            div {
              width: 50%;
              height: 16px;
              border-radius: 25px;
              background-color: #5e3b7f;
            }
          }

          .tailwind {
            border-color: #38bdf8;
            div {
              width: 50%;
              height: 16px;
              border-radius: 25px;
              background-color: #38bdf8;
            }
          }

          .vsc {
            border-color: #1f9cf0;
            div {
              width: 95%;
              height: 16px;
              border-radius: 25px;
              background-color: #1f9cf0;
            }
          }

          .figma {
            border-color: #0acf83;
            div {
              width: 90%;
              height: 16px;
              border-radius: 25px;
              background-color: #0acf83;
            }
          }

          .teams {
            border-color: #464eb7;
            div {
              width: 70%;
              height: 16px;
              border-radius: 25px;
              background-color: #464eb7;
            }
          }

          .linux {
            border-color: #fdb820;
            div {
              width: 60%;
              height: 16px;
              border-radius: 25px;
              background-color: #fdb820;
            }
          }
        }
      }
    }
  }

  section {
    display: flex;
    gap: 54px;
    flex-wrap: wrap;

    article {
      width: 48%;
      text-align: center;
      display: grid;
      gap: 30px;

      h2 {
        margin-top: 10px;
        text-align: left;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
          gap: 20px;
          div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(136, 136, 136, 0.05);
            justify-content: center;
            align-items: center;

            img {
              width: 32px;
            }
          }
        }
      }

      img {
        width: 100%;
      }
      p {
        text-align: left;
      }
    }
  }
}

// Responsive pour les écrans moyens
@media screen and (max-width: 1600px) {
  .projectsPage {
    section {
      article {
        width: 100%; // Passer les articles en pleine largeur
      }
    }
  }
}

// Responsive pour les écrans moyens
@media screen and (max-width: 1024px) {
  .projectsPage {
    width: 90%; // Permet de mieux gérer les marges
    margin: 0 auto; // Correction du centrage
    transform: translateX(0%);

    article {
      .skills {
        flex-wrap: wrap;
        position: relative;
        justify-content: center; // Centrage des compétences
        gap: 20px;
      }
    }

    section {
      flex-wrap: wrap;

      article {
        width: 100%; // Passer les articles en pleine largeur
      }
    }
  }
}

// Responsive pour les petits écrans
@media screen and (max-width: 700px) {
  .projectsPage {
    width: 100%;
    margin: 100px auto 0; // Alignement propre
    padding: 0 10px; // Ajouter un padding pour éviter que le contenu touche les bords
  }

  article {
    .skills {
      flex-direction: column; // Aligner les éléments en colonne
      gap: 20px;
    }
  }
}

@media screen and (max-width: 540px) {
  article {
    .skills {
      flex-direction: column; // Aligner les éléments en colonne
      gap: 20px;
    }
  }
}
