:root {
  --base-color: #fff;
  --text-color: #000;
  --box-color: #f5f5f5;
  --border-radius: 35px;
  --raleway-font: "Raleway", arial, sans-serif;
  --oswald-font: "Oswald", arial, sans-serif;
  --font-size: 19px;
  --title-font-size: 140px;
  --article-letter-spacing: 1.1px;
  --blur-effect: 20px;
}

.darkmode {
  --base-color: #000000;
  --text-color: #e4e4e4;
  --box-color: #2a2a2a;
}
