// Contact Section
.contact {
  margin: $margin-top-section auto 0;
  display: block;

  h2 {
    font-size: 48px;
    font-weight: 100;
    @include textStaatliches;
    color: $tertiary-color;
    margin: 50px auto;
  }

  a {
    text-decoration: none;
    color: black;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #d9d9d9;
      padding: 20px 0px;

      .leftContact {
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          @include textSpaceGrotesk;
          font-weight: bold;
          font-size: 26px;
        }

        img {
          width: 32px;
        }
      }

      .material-symbols-outlined {
        font-size: 30px;
        font-weight: bold;
        opacity: 0;
      }
    }

    .links:hover .material-symbols-outlined {
      animation: fillAnimation 1s forwards;
    }
  }
}

@keyframes fillAnimation {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
