.homeText {
  text-align: center;
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  height: 80vh; /* Hauteur de la fenêtre visible */

  p {
    @include textStaatliches;
    color: $primary-color;
    font-size: 60px;
    animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@media (max-width: 650px) {
  .homeText {
    p {
      @include textStaatliches;
      color: $primary-color;
      font-size: 50px;
      animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}

@media (max-width: 560px) {
  .homeText {
    p {
      @include textStaatliches;
      color: $primary-color;
      font-size: 40px;
      animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}
