// Skills Section
.skills {
  display: flex;
  margin-top: $margin-top-section;
  color: black;

  .left {
    width: 50%;
    margin-top: 30px;

    h3 {
      font-size: 22px;
      @include textStaatliches;
      color: $tertiary-color;
      font-weight: 100;
    }

    p {
      margin-top: 6%;
      padding-top: 20px;
      color: $quaternary-color;
      font-size: 20px;
      @include textSpaceGrotesk;
      width: 90%;
    }
  }

  .right {
    width: 50%;
    padding-left: 3%;

    h3 {
      font-size: 22px;
      @include textStaatliches;
      color: $tertiary-color;
      font-weight: 100;
    }

    .tab {
      margin-top: 6%;

      .box {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d9d9d9;
        padding: 20px 0px;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;

        p {
          @include textSpaceGrotesk;
          font-weight: bold;
          font-size: 26px;
        }
      }
      .box.active {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}
