// White Section
.white {
  background-color: $accent-color;
  color: $quaternary-color;
  margin: 8%;

  .droit {
    @include textSpaceGrotesk;
    text-align: center;
    margin-top: 10%;
    margin-bottom: -7%;
  }
}
