@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Staatliches&display=swap");

@import "variable";

// Mixins
@mixin flexSpace {
  display: flex;
  justify-content: space-between;
}

@mixin textStaatliches {
  font-family: "Staatliches", sans-serif;
}

@mixin textSpaceGrotesk {
  font-family: "Space Grotesk", sans-serif;
}

// Reset scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text-color;
}

.background {
  background-image: radial-gradient(
    circle farthest-corner at -8.9% 51.2%,
    rgba(255, 124, 0, 1) 0%,
    rgba(255, 124, 0, 1) 15.9%,
    rgba(255, 163, 77, 1) 15.9%,
    rgba(255, 163, 77, 1) 24.4%,
    rgba(19, 30, 37, 1) 24.5%,
    rgba(19, 30, 37, 1) 66%
  );
  height: 100vh;
  padding: 2% 8%;
}

// Import pages
@import "navBar";
@import "home";
@import "whiteSection";
@import "aboutMe";
@import "skills";
@import "projects";
@import "contact";
@import "lepine";

@media (max-width: 800px) {
  .aboutMe {
    display: grid;
    .right {
      width: 100%;
      margin-top: 50px;
    }
  }
  .skills {
    display: grid;

    .left {
      width: 100%;
      margin-left: 23px;
    }
    .right {
      width: 100%;
      margin-top: 60px;
    }
  }
}
