@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

header {
  width: 100%;
  height: 100vh;
  padding: 2% 6%;
  background-color: #092337;
  display: flex;
  flex-direction: column;
}
header nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
header nav .navBarFavicone {
  width: 50px;
}
header nav .links {
  width: 80%;
  list-style: none;
  justify-content: space-between;
  display: flex;
}
header nav .links li a {
  text-decoration: none;
  text-align: center;
  position: relative;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 17px;
}
header nav .links li a::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: white;
  opacity: 1;
  transition: transform 0.3s;
}
header nav .links li a:hover::after {
  transform: scaleX(1);
}
header .homeText {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
header .homeText #typedtext {
  font-family: "Staatliches", sans-serif;
  font-size: 60px;
  color: white;
  margin-top: -40px;
}

#icons {
  cursor: pointer;
  display: none;
}

@media (min-width: 750px) {
  .menu-hamburger {
    display: none;
  }
}
@media (max-width: 750px) {
  #icons {
    display: block;
  }
  nav ul {
    z-index: 2;
    position: fixed;
    flex-direction: column;
    width: 100%;
    left: 100%;
    top: 12%;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    transition: 0.25s;
    text-align: center;
    background: rgba(65, 65, 65, 0.3254901961);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1019607843);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.7490196078);
  }
  nav li {
    padding: 10px 0;
  }
  nav.active ul {
    left: 0;
  }
  .menu-hamburger {
    position: relative;
    margin-top: -21px;
  }
  .menu-hamburger input {
    z-index: 3;
    position: absolute;
    margin-left: 3px;
    margin-top: 2.5px;
    width: 22px;
    height: 22px;
    opacity: 0;
    cursor: pointer;
  }
  .menu-hamburger .icones {
    z-index: 2;
    position: absolute;
  }
}
.aboutMeSection {
  display: flex;
  padding: 180px 6% 50px 6%;
}
.aboutMeSection .profilePictureAndHelloEmoticon {
  width: 50%;
}
.aboutMeSection .profilePictureAndHelloEmoticon .profilePicture {
  width: 120px;
  z-index: 1;
}
.aboutMeSection .profilePictureAndHelloEmoticon .helloEmoticon {
  width: 50px;
  z-index: 2;
  margin-left: -45px;
  animation: wobble-hor-bottom 1.5s both infinite;
}
.aboutMeSection .helloText {
  width: 50%;
}
.aboutMeSection .helloText h2 {
  color: #092337;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  font-weight: 100;
}
.aboutMeSection .helloText p {
  color: #092337;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-10px) rotate(-6deg);
    transform: translateX(-10px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
    transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-8px) rotate(-3.6deg);
    transform: translateX(-8px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(4px) rotate(2.4deg);
    transform: translateX(4px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
    transform: translateX(-3px) rotate(-1.2deg);
  }
}
.skills {
  color: #092337;
  display: flex;
  padding: 180px 6% 50px 6%;
}
.skills .skillsText {
  width: 50%;
}
.skills .skillsText p {
  margin-top: 6%;
  padding-top: 20px;
  color: #092337;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  width: 90%;
}
.skills .skillsTab {
  width: 50%;
}
.skills .skillsTab h3 {
  font-size: 22px;
  font-family: "Staatliches", sans-serif;
  font-weight: 100;
}
.skills .skillsTab .tab {
  margin-top: 6%;
}
.skills .skillsTab .tab .box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.skills .skillsTab .tab .box p {
  font-weight: bold;
  color: #092337;
  font-family: "Space Grotesk", sans-serif;
  font-size: 26px;
}
.skills .skillsTab .tab .box.active {
  transform: translateX(0%);
  opacity: 1;
}

.projects {
  padding: 180px 6% 50px 6%;
}
.projects h2 {
  color: #092337;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  font-weight: 100;
}
.projects .cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  z-index: 0;
}
.projects .cards .card {
  width: 450px;
  height: 20.5%;
  padding: 10px;
  border: 2px solid black;
  justify-content: center;
  margin: 4% auto;
  z-index: 9;
  transition: 2s;
}
.projects .cards .card .languages {
  gap: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 4px;
  border-radius: 20px;
  width: 42px;
  opacity: 0;
  display: grid;
  height: auto;
  position: absolute;
}
.projects .cards .card .languages img {
  width: 25px;
  height: 25px;
  border: none;
}
.projects .cards .card img {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  z-index: 0;
}
.projects .cards .card .titleAndadvencement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .cards .card .titleAndadvencement h3 {
  font-size: 22px;
  font-family: "Staatliches", sans-serif;
  color: #092337;
  font-weight: 100;
  margin-top: 15px;
}
.projects .cards .card .titleAndadvencement .advencementCard {
  background-color: red;
  color: #092337;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: white;
  width: 100px;
  padding: 2px 0 2px 0;
  text-align: center;
  border-radius: 15px;
  margin-top: 13px;
}
.projects .cards .card .titleAndadvencement .projectOne {
  background-color: #85c871;
  border: 2px solid #7ab767;
}
.projects .cards .card .titleAndadvencement .projectTwo {
  background-color: #ffb964;
  border: 2px solid #ebaa5c;
}
.projects .cards .card .titleAndadvencement .tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  width: 100px;
}
.projects .cards .card .titleAndadvencement .tooltip-container .tooltip {
  position: absolute;
  left: -110px;
  padding: 0.5em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  color: white;
  border-radius: 15px;
  width: 210px;
  font-size: 14px;
}
.projects .cards .card .titleAndadvencement .tooltip-container .projectOneTooltip {
  background-color: #85c871;
  border: 2px solid #7ab767;
  height: 72px;
  top: -80px;
}
.projects .cards .card .titleAndadvencement .tooltip-container .projectTwoTooltip {
  background-color: #ffb964;
  border: 2px solid #ebaa5c;
  height: 92px;
  top: -100px;
}
.projects .cards .card .titleAndadvencement .tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: var(--background-tooltip); /* Use the same background color as the tooltip */
}
.projects .cards .card .titleAndadvencement .tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.projects .cards .card p {
  margin-top: 6%;
  color: #092337;
  font-family: "Space Grotesk", sans-serif;
  font-size: 19px;
  margin-top: 3px;
}
.projects .cards .card button {
  all: unset;
  width: 160px;
  padding: 10px 0;
  border: 2px solid black;
  margin-top: 50px;
  justify-content: center;
  margin-left: 50%;
  transform: translate(-50%);
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}
.projects .cards .card button:hover {
  box-shadow: 5px 5px 0px 1px black;
  transition: 180ms;
}
.projects .cards .card button:not(:hover) {
  box-shadow: 0px 0px 0px 0px black;
  transition: 180ms;
}
.projects .cards .card:hover .languages {
  opacity: 1;
  transform: translateX(5px);
  transition: 0.5s;
}
.projects .cards .card:not(:hover) .languages {
  opacity: 0;
  transform: translateX(-15px);
  transition: 0.4s;
}

.lepine {
  padding: 180px 6% 50px 6%;
}
.lepine h2 {
  color: #092337;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 30px;
}
.lepine .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lepine .content .lepineText {
  color: #092337;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  width: 50%;
}
.lepine .content .lepineText .linkToFacebook {
  text-decoration: none;
  color: #ff9500;
  font-weight: 500;
}
.lepine .content img {
  --a: 9deg; /* control the angle of rotation (the smaller, the better) */
  width: 300px;
  height: 300px;
  aspect-ratio: 1;
  transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
  -webkit-mask: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 40%, #000, rgba(0, 0, 0, 0.8) 60%) 100% 100%/250% 250%;
  transition: 0.4s;
  cursor: pointer;
}
.lepine .content .alt {
  --r: 1, 1;
  -webkit-mask: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 40%, #000, rgba(0, 0, 0, 0.8) 60%) 0 100%/250% 250%;
}
.lepine .content img:hover {
  --i: -1;
  -webkit-mask-position: 0 0;
}
.lepine .content .alt:hover {
  -webkit-mask-position: 100% 0;
}

.contact {
  display: block;
  padding: 180px 6% 50px 6%;
}
.contact h2 {
  color: #092337;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  font-weight: 100;
}
.contact a {
  text-decoration: none;
  color: black;
}
.contact a .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0px;
}
.contact a .link .leftContact {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact a .link .leftContact p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.contact a .link .leftContact img {
  width: 32px;
}
.contact a .link .material-symbols-outlined {
  font-size: 30px;
  font-weight: bold;
  opacity: 1;
}

footer p {
  text-align: center;
  color: #092337;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

@media (max-width: 740px) {
  .aboutMeSection {
    flex-direction: column;
  }
  .aboutMeSection .profilePictureAndHelloEmoticon {
    width: 100%;
  }
  .aboutMeSection .helloText {
    width: 100%;
    margin-top: 70px;
  }
  .skills {
    flex-direction: column;
  }
  .skills .skillsText {
    width: 100%;
    margin-top: -50px;
  }
  .skills .skillsTab {
    width: 100%;
    margin-top: 70px;
  }
  .lepine {
    flex-direction: column;
  }
  .lepine .content .lepineText {
    width: 100%;
  }
  .lepine .content img {
    margin-top: 70px;
    margin-left: 25%;
    transform: translateX(-25%);
    --a: 9deg; /* control the angle of rotation (the smaller, the better) */
    width: 250px;
    height: 250px;
    aspect-ratio: 1;
    transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
    -webkit-mask: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 40%, #000, rgba(0, 0, 0, 0.8) 60%) 100% 100%/250% 250%;
    transition: 0.4s;
    cursor: pointer;
  }
  .lepine .content .alt {
    --r: 1, 1;
    -webkit-mask: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 40%, #000, rgba(0, 0, 0, 0.8) 60%) 0 100%/250% 250%;
  }
  .lepine .content img:hover {
    --i: -1;
    -webkit-mask-position: 0 0;
  }
  .lepine .content .alt:hover {
    -webkit-mask-position: 100% 0;
  }
}
